@import "vars";

.footer {
	background-color: $fon;
}

.footer__content {
	padding: 100px 0;
	border-bottom: 1px solid #424d53;
}

.footer__copy {
	padding: 30px 0;
	text-align: center;
}

.footer__copy-text {
	line-height: 36px;
	color: #919699;
}

.footer__title {
	color: #fff;
	font-size: 22px;
	font-family: $ral;
	padding-bottom: 25px;
	margin-bottom: 35px;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: $green;
		width: 50px;
		height: 3px;
	}
}

.footer__text {
	margin-bottom: 25px;
	color: $text;
}

.footer__adress,
.footer__phone {
	font-size: 14px;
	color: #fff;
	font-family: $lato;
	position: relative;
	padding-left: 30px;
	&:before{
		font-family: 'icomoon';
		color: $green;
		font-size: 18px;
		position: absolute;
		top: 0;
		left: 0;
	}
	a{
		color: #fff;
		display: block;
	}
}

.footer__phone{
	margin-top: 20px;
}

.footer__adress:before {
	content: '\f041';
}

.footer__phone:before {
	content: '\f095';
}